In [7]:
import pandas as pd

tweet2_1 = pd.read_csv('dataset\ikn.csv',delimiter=';')
tweet2_2 = pd.read_csv('dataset\masalah_ikn.csv',delimiter=';')
tweet2_3 = pd.read_csv('dataset\masalah_ikn.old.csv',delimiter=';')
tweet2_4 = pd.read_csv('dataset\Pembangunan_ikn.csv',delimiter=';')
tweet2_5 = pd.read_csv('dataset\postif_ikn.csv',delimiter=';')
tweet2_6 = pd.read_csv('dataset\indonesia_ikn.csv',delimiter=';')
tweet2_7 = pd.read_csv('dataset\indonesia_ikn_1.csv',delimiter=';')
tweet2_8 = pd.read_csv('dataset\isu_ikn.csv',delimiter=';')
tweet2_9 = pd.read_csv('dataset\isu_ikn_1.csv',delimiter=';')
tweet2_10 = pd.read_csv('dataset\masalah_ikn_1.csv',delimiter=';')
tweet2_11 = pd.read_csv('dataset\masalah_ikn_2.csv',delimiter=';')
tweet2_12 = pd.read_csv('dataset\pembangunan_ikn_1.csv',delimiter=';')

In [8]:
tweet2_all = pd.concat([
    tweet2_1,tweet2_2,tweet2_4,tweet2_4,tweet2_5,
    tweet2_6,tweet2_7,tweet2_8,tweet2_9,tweet2_10,
    tweet2_11,tweet2_12]
    ,ignore_index=True)

tweet2_all = tweet2_all['full_text']
tweet2_all

0       @kompascom Dari sabang sampe merauke dah bnyk ...
1       Nyetir tengah malem di IKN is another level of...
2       framingnya mulai muncul. IKN jadi kata kunci. ...
3       IKN masih proyek guys, buat yg ASN santai-sant...
4       @mkusumawijaya coba ty amdal ikn. dibuat sesua...
                              ...
7501    Dalam kegiatannya di IKN Nusantara bberapa har...
7502    @maryshelparaiso Perkembangan pembangunan Ibu ...
7503    @maryshelparaiso IKN Nusantara akan menjadi ko...
7504    @maryshelparaiso IKN Nusantara akan menjadi ko...
7505    @maryshelparaiso Perkembangan pembangunan Ibu ...
Name: full_text, Length: 7506, dtype: object

In [9]:
tweet2_all = tweet2_all.rename('text')

In [10]:
tweet2_all = tweet2_all.drop_duplicates(ignore_index=True)
tweet2_all.info()

<class 'pandas.core.series.Series'>
RangeIndex: 3834 entries, 0 to 3833
Series name: text
Non-Null Count  Dtype
--------------  -----
3834 non-null   object
dtypes: object(1)
memory usage: 30.1+ KB

In [11]:
tweet2_all.to_excel('dataset_gabung\data1.xlsx')

In [14]:
tweet2_all.info()

<class 'pandas.core.series.Series'>
RangeIndex: 3834 entries, 0 to 3833
Series name: text
Non-Null Count  Dtype
--------------  -----
3834 non-null   object
dtypes: object(1)
memory usage: 30.1+ KB

## combine new data 17/11

In [1]:
import glob
import pandas as pd
all = pd.read_excel('dataset_gabung\data1.xlsx')
all = all.drop('Unnamed: 0',axis=1)
all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3834 entries, 0 to 3833
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    3834 non-null   object
dtypes: object(1)
memory usage: 30.1+ KB

In [24]:
# Get CSV files list from a folder
path = 'dataset_gabung\Baru17'
csv_files = glob.glob(path + "/*.csv")
all = pd.read_csv('dataset_gabung\Baru17\ikn.csv',delimiter=';')
all.info()

for i in csv_files:
    new = pd.read_csv(i,delimiter=';')
    all = pd.concat([all,new])

all = all.drop_duplicates(ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   created_at           741 non-null    object
 1   id_str               741 non-null    int64
 2   full_text            741 non-null    object
 3   quote_count          741 non-null    int64
 4   reply_count          741 non-null    int64
 5   retweet_count        741 non-null    int64
 6   favorite_count       741 non-null    int64
 7   lang                 741 non-null    object
 8   user_id_str          741 non-null    int64
 9   conversation_id_str  741 non-null    int64
 10  username             741 non-null    object
 11  tweet_url            741 non-null    object
dtypes: int64(7), object(5)
memory usage: 69.6+ KB

In [25]:
import numpy as np
all = pd.DataFrame(np.array(all['full_text']), columns=['text'])
all = all.drop_duplicates(ignore_index=True)

In [26]:
all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1977 entries, 0 to 1976
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    1977 non-null   object
dtypes: object(1)
memory usage: 15.6+ KB

In [27]:
old = pd.read_excel('dataset_gabung\data1.xlsx')
old = old.drop('Unnamed: 0',axis=1)
print(old.info())
all = pd.concat([all,old])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3834 entries, 0 to 3833
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    3834 non-null   object
dtypes: object(1)
memory usage: 30.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 5811 entries, 0 to 3833
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5811 non-null   object
dtypes: object(1)
memory usage: 90.8+ KB


 new all : None

In [28]:
all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5811 entries, 0 to 3833
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5811 non-null   object
dtypes: object(1)
memory usage: 90.8+ KB

In [29]:
all.to_excel('dataset_gabung\data2.xlsx')

In [24]:
all = pd.read_excel('dataset_gabung\data2.xlsx')
all = all.drop('Unnamed: 0',axis=1)
all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5811 entries, 0 to 5810
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    3834 non-null   object
 1   0       1977 non-null   object
dtypes: object(2)
memory usage: 90.9+ KB